<form id="ModalForm" name="stepForm" class="form" method="post">
    <div class="modal-header">
        <h4 class="modal-title">SCT Task</h4>
    </div>

    <div class="modal-body">

        <div class="mb-3">
          <input class="form-control" name="name" placeholder="SCT Config name">
        </div>

    </div>

    <div id="modal-error-text" class="modal-body" style="color: red;"></div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="submit" type="submit" class="btn btn-primary">Go</button>
    </div>
</form>

