{% extends "base.html" %}
{% block content %}

<h3>ProjectSet enviroments</h3>
<button class="refresh-button btn btn-light" href="#">Refresh</button>
<hr>
<div class="container-fluid">

  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>name</th>
        <th>desc</th>
        <th>git</th>
        <th>env</th>
        <th>ps path</th>
        <th>ps count</th>
        <th>pst path</th>
        <th>pst count</th>
      </tr>
    </thead>
    <tbody>
      {% for e  in env_list %}
          <td>{{ e.name }}</td>
          <td>{{ e.descr }}</td>
          <td>{{ e.giturl }}</td>
          <td>{{ e.env }}</td>
          <td>{{ e.ps_path }}</td>
          <td>{{ e.ps_count }}</td>
          <td>{{ e.pst_path }}</td>
          <td>{{ e.pst_count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

</div>

{% endblock %}
